{{!-- when click on post, this page renders and shows post details and option to submit comment--}}
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

{{!-- add a comment submit form --}}