* {
    margin: 0;
    padding: 0;
}

header,
.project:not(:last-child) {
    border-bottom: 1px solid #ccc;
    background-color: #04AA6D;
    padding: 40px;
    
}
h1{
    text-align: center;
    font-size: 100px;
}
.navBar{
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
}
.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: darkblue;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

.form-input {
        width: 50%;
        padding: 12px 20px;
        margin: 10px 0;
        box-sizing: border-box;
}
.btn {
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}
.login-form {
    padding-left: 20px;
}
.signup-form {
    padding-left: 20px;
}
.break {
    padding: 10%;
    background-color: bisque;
    border-bottom: 1px solid;
}
h2 {
    text-decoration: underline;
}
.main{
    text-align: center;
}

.name{
    background-color: bisque;
}
.postDiv {
    padding: 8%;
    border: 2px solid;
    background-color: bisque;
}
.singlePost {
    text-align: center;
    background-color: bisque;
}