* {
    margin: 0;
    padding: 0;
}

header,
.project:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

.form-input {
        width: 50%;
        padding: 12px 20px;
        margin: 10px 0;
        box-sizing: border-box;
}
.btn {
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}
.login-form {
    padding-left: 20px;
}
.signup-form {
    padding-left: 20px;
}
.break {
    padding: 10%;
    background-color: bisque;
    border-bottom: 1px solid;
}
h2 {
    text-decoration: underline;
}

